h1 {
  color: blue;
  text-align: center;
  font-size: 5pt;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  color: black;
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}

p { 
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: justify;
}

ul {
  line-height: 10px;
}

ol {

  list-style-type: square;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.aboutme {
  background-color: lawngreen;
}
.projects {
  background-color: lightcoral;
}
.catclimate {
  background-color: yellow;
  font-weight: bold;
  font-style: italic;
}

.important {
  background-color: lawngreen;
}
.unimportant  {
  background-color: lightcoral;
}

img {
  float: left;
}

.sidebar{
float: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;

}

.column {
  width: 500px;
  float: right;
}


.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 25px;
  left: 50px;
  font-size: 45px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


